!pip install SQLAlchemy

In [1]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\casti\appdata\local\continuum\anaconda3\lib\site-packages (1.3.9)

In [8]:
!pip install psycopg2
!pip install psycopg2-binary

Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/1a/85/853f11abfccfd581b099e5ae5f2dd807cc2919745b13d14e565022fd821c/psycopg2-2.8.4-cp37-cp37m-win_amd64.whl (1.1MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.4
Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/e7/0c/aca85d48bd72557251ee87ac5b8566ad17eb197725247357d90d0891216e/psycopg2_binary-2.8.4-cp37-cp37m-win_amd64.whl (1.1MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.4

In [2]:
from sqlalchemy import create_engine

In [3]:
HOST = 'localhost'
PORT = '5432'
USERNAME = 'postgres'
PASSWORD = 'postgres'
DB = 'northwind'

### Create connection string

In [4]:
conn_string = f'postgres://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DB}'

In [5]:
conn_string

'postgres://postgres:postgres@localhost:5432/northwind'

### use connection string

In [9]:
engine = create_engine(conn_string)

In [10]:
engine

Engine(postgres://postgres:***@localhost:5432/northwind)

In [11]:
query = """
CREATE TABLE newtable (
col_1 VARCHAR(50),
col_2 INTEGER,
col_3 REAL
);
"""

engine.execute(query)

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('/Users/casti/Documents/northwind/northwind_data_clean/data/orders.csv')

In [14]:
df

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,shipCity,shipRegion,shipPostalCode,shipCountry
0,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,1996-07-05 00:00:00.000,1996-08-16 00:00:00.000,1996-07-10 00:00:00.000,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,10250,HANAR,4,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-12 00:00:00.000,2,65.83,Hanari Carnes,Rua do Paço 67,Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-15 00:00:00.000,1,41.34,Victuailles en stock,2 rue du Commerce,Lyon,NaN,69004,France
4,10252,SUPRD,4,1996-07-09 00:00:00.000,1996-08-06 00:00:00.000,1996-07-11 00:00:00.000,2,51.30,Suprêmes délices,Boulevard Tirou 255,Charleroi,NaN,B-6000,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,11073,PERIC,2,1998-05-05 00:00:00.000,1998-06-02 00:00:00.000,NaN,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,NaN,05033,Mexico
826,11074,SIMOB,7,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,18.44,Simons bistro,Vinbæltet 34,Kobenhavn,NaN,1734,Denmark
827,11075,RICSU,8,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,6.19,Richter Supermarkt,Starenweg 5,Genève,NaN,1204,Switzerland
828,11076,BONAP,4,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,38.28,Bon app',12 rue des Bouchers,Marseille,NaN,13008,France
829,11077,RATTC,1,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA

In [16]:
df.to_sql('orders1', engine)

In [22]:
query2 = """
ALTER TABLE orders1 ALTER COLUMN "shipName" TYPE VARCHAR(100);
"""

In [23]:
engine.execute(query2)